.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    gap: 20px;
    width:fit-content;
    padding: 10px;  
    border: 1px solid black;  
    border-radius: 10px;
}

.image-container {
    height: 50px;
    width: 50px;

}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}


button {
    padding: 10px;
    width: 70px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}

.edit-button button{
    background-color: lightgreen;
    transition: 0.3s ease-in-out;

}

.edit-button button:hover {
    background-color: rgb(31, 236, 31);
    cursor: pointer;
}

.delete-button button {
    background-color: lightcoral;
    transition: 0.3s ease-in-out;

}

.delete-button button:hover {
    background-color: rgb(228, 70, 70);
    cursor: pointer;
}

.firstName, .lastName, .id {
    width: 200px;
}

.email{
    width: 300px;
}

.button-container {
    width: 200px;
    gap: 10px;
}